$donate-main-color: #49CBB7;

@font-face {
  font-family: League Gothic;
  src: url('fonts/LeagueGothic/League_Gothic_Regular.woff');
}
.donate-header-image {
  width: 100%;
}

.donate-has-image {
  .donate-title {
    display: none;
  }
  .donate-header-image-mobile {
    display: flex;
    //@include media-breakpoint-up(sm) {
    //  display: none;
    //}
  }
  .donate-header-image {
    display: none;
    @include media-breakpoint-up(sm) {
      display: flex;
      max-width: 650px;
    }
  }
  img {
     display: flex;
     object-fit: contain;
     flex-flow: row nowrap;
     width: 100%;
     margin: 0 auto;
     padding: 0 auto;
     height: auto;
     align-items: center;
  }
}

.header-description {
  margin-bottom: 30px;
  p {
    color: $white;
  }
  .content-center {
    margin: 0 auto;
  }
  .share-icons img {
    margin: 20px 10px 0;
    width: 50px;
  }
}

.donate-form {
  box-sizing: border-box;
  .bold {
    font-weight: bold;
  }
  .light {
    font-weight: 200;
  }
  .donate-main-color {
    color: $donate-main-color;
  }
  .required {
    color: $green;
  }

  input[type="checkbox"] {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4px;
  }

  input[type="text"],
  input[type="date"],
  .field.card-number,
  .field.exp-date,
  .field.cvc,
  textarea {
    border: 1px solid grey;
    color: grey;
    font-size: 16px;
    height: 43px;
    padding: 8px 12px;
    &.required {
      border-color: $green;
    }
    &.error {
      border-color: red;
    }
    &::placeholder {
      color: grey;
    }
    &:focus {
      border-color: $purple-dark;
      color: $bd-purple;
      outline: none;
    }
  }
  textarea {
    box-sizing: border-box;
    width: 60%;
    height: 3em;
    display: block;
    padding: 8px 12px;
  }
  select {
    background: $white;
    border: 1px solid grey;
    color: grey;
    font-size: 16px;
    height: 45px;
    padding: 8px 12px;
    &.required {
      border-color: $green;
      color: grey;
    }
    &.error {
      border-color: red;
    }
    &:focus {
      border-color: $purple-dark;
      color: $bd-purple;
      outline: none;
    }
  }
  .field-row {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    @include media-breakpoint-up(md) {
      flex-wrap: nowrap;
    }
  }
  button {
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
  }

  .donate-options {
    display: flex;
    justify-content: center;
    margin: 0px auto 40px auto;
    button {
      font-size: 20px;
      background-color: white;
      border: 2px solid $gray-600;
      color: $bd-purple;
      font-weight: normal;
      display: block;
      text-align: center;
      text-transform: uppercase;
      padding-left: 15px;
      padding-right: 15px;
      &.single {
        border-radius: 5px 0 0 5px;
        margin-left: 0;
      }
      &.monthly {
        border-left: none;
        border-radius: 0 5px 5px 0;
        margin-left: 0;
      }
      &.selected,
      &:hover {
        background-color: $donate-main-color;
      }
      &.selected {
        color: $black;
      }
    }
  }
  .donation-selection-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2% auto 2% auto;
    max-width: 1024px;
    justify-content: center;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
    .donate-buttons {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 5px;
      @include media-breakpoint-up(md) {
        flex-direction: row;
        margin-right: 5px;
      }
      .price-btn {
        line-height: 20px;
        background-color: $bd-purple;
        border-radius: 5px;
        border-style: none;
        color: white;
        display: block;
        font-size: 23px;
        font-weight: normal;
        margin: 5px;
        padding: 20px 0px;
        text-align: center;
        text-decoration: none;
        width: 120px;
        &.selected {
          background-color: $donate-main-color;
          color: $black;
        }
        @include media-breakpoint-up(md) {
          font-size: 29px;
        }
      }
      .other-amount-field {
        .error {
          color: red;
          display: block;
          text-align: center;
        }
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .perk-amt {
          background-color: #f1f1f3;
          font-size: 23px;
          font-weight: bold;
          height: 60px;
          margin: 5px;
          min-width: 80px;
          text-transform: capitalize;
          text-align: center;
          width:100px;
        }
      }
    }
    .perk-intro {
      display: flex;
      flex-wrap: wrap;
      margin: 2% 5% 2% 5%;
      justify-content: center;
      text-align: center;
      .perk-title {
        font-size: 22px;
        margin-bottom: 0px;
      }
    }
    .no-perk-area {
      margin: 1% 1% 20px 1%;
      width: 100%;
      text-align: center;
      label {
        font-size: 20px;
        line-height: 24px;
      }
    }
    .perks {
      align-self: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 20px;
      position: relative;
      z-index: 2;
      justify-content: space-evenly;

      @include media-breakpoint-up(md) {
        border: none;
        flex-direction: row;
      }
      .perk {
        border-color: grey;
        border-style: solid;
        border-width: 0px 1px 1px 1px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &:first-child {
          border-top-width: 1px;
        }
        @include media-breakpoint-up(md) {
          border: 1px solid grey;
          flex-direction: column;
          justify-content: flex-start;
          margin: 0px 5px 20px 5px;
          position: relative;
          width: 30%;
          top: 0px;
          flex-wrap: nowrap;
        }
        &.disabled {
          border-color: grey;
          color: grey;
          font-style: italic;
          img {
            opacity: 0.2;
          }
          select {
            color: grey;
            font-style: italic;
          }
          .promo-red-dot {
            background-color: grey;
          }
          .promo-price {
            color: grey;
          }
        }
        .slides {
          position: relative;
          align-self: center;
          display: none;
          height: 175px;
          overflow: hidden;
          width: 100%;
          @include media-breakpoint-up(md) {
            display: block;
            order: 2;
          }
        }
        img {
          display: block;
          margin: 0 auto;
          max-width: 50%;
          height: auto;
          @include media-breakpoint-up(md) {
            max-width: 70%;
          }
        }
        .promo-red-dot {
          position: absolute;
          background: red;
          top: 45px;
          right: 15px;
          color: white;
          padding: 10px 20px;
          font-size: 28px;
          line-height: 31px;
          font-weight: bold;
          border-radius: 40px;
        }
        .price-tag-group {
          margin: 20px 0 20px 20px;
          font-size: 21px;
          font-weight: 600;
          width: 40%;
          @include media-breakpoint-up(md) {
            font-size: 16px;
            order: 1;
            width: 100%;
          }
        }
        .perk-label {
          font-size: 21px;
          font-weight: 700;
          margin: 20px 20px 20px 0;
          text-align: right;
          text-transform: uppercase;
          width: 40%;
          box-sizing: border-box;
          @include media-breakpoint-up(md) {
            margin: 0;
            padding: 20px;
            padding-bottom: 0;
            font-size: 27px;
            width: 100%;
            order: 3;
            text-align: center;
          }
        }
        .perk-desc {
          font-size: 16px;
          font-weight: 300;
          display: none;
          padding: 20px;
          width: 100%;
          box-sizing: border-box;
          @include media-breakpoint-up(md) {
            display: block;
            margin: 0 11px 0 11px;
            order: 4;
            padding-left: 4px;
            padding-right: 4px;
            width: auto;
          }
        }
        .perk-sub-select {
          display: none;
          border-color: #aeaeae;
          margin: 10px 10px 10px 10px;
          width: 100%;
          @include media-breakpoint-up(md) {
            display: block;
            order: 5;
            width: 92%;
          }
        }
      }
      .selected {
        background-color: $donate-main-color;
        transition: all 0.5s;
        .slides {
          display: block;
        }
        .perk-desc {
          display: block;
        }
        .perk-sub-select {
          display: block;
        }
        @include media-breakpoint-up(md) {
          background-color: white;
          box-shadow: 8px 8px $donate-main-color;
          position: relative;
          top: -4px;
        }
      }
    }
  }
  .payment-method-area,
  .info-area {
    position: relative;
    z-index: 2;
  }
  .payment-method-area {
    border-bottom: 2px solid $gray-300;
    border-top: 2px solid $gray-300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: 4% 21px;
    text-align: center;
    text-transform: uppercase;
    button {
      text-transform: uppercase;
      min-width: 160px;
      vertical-align: top;
      line-height: 20px;
      color: $bd-purple;
      border-radius: 5px;
      padding: 14px 10px;
      font-size: 20px;
      border: 1px solid grey;
      margin: 7px;
      &.paypal {
        padding: 8px 0;
        img {
          height: 32px;
        }
      }
      &.selected {
        background-color: $donate-main-color;
        color: $black;
      }
    }
    .payment-method-question {
      margin-bottom: 3%;
    }
  }
  .info-area {
    padding-top: 4%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    text-align: center;
    margin-bottom: 30px;
    #firstName {
      width: 100%;
      margin-bottom: 10px;
      @include media-breakpoint-up(md) {
        width: 50%;
        margin-bottom: 0px;
        margin-right: 10px;
      }
    }
    #lastName {
      width: 100%;
      @include media-breakpoint-up(md) {
        width: 50%;
      }
    }
    #streetAddress {
      width: 100%;
      margin-bottom: 10px;
      @include media-breakpoint-up(md) {
        width: 80%;
        margin-bottom: 0px;
        margin-right: 10px;
      }
    }
    #extendedAddress {
      width: 20%;
    }
    #country {
      width: 100%;
    }
    #locality {
      width: 38%;
      margin-bottom: 10px;
      margin-right: 10px;
      @include media-breakpoint-up(md) {
        width: 35%;
        margin-bottom: 0px;
      }
    }
    #region {
      width: 45%;
      margin-bottom: 10px;
      @include media-breakpoint-up(md) {
        width: 40%;
        margin-bottom: 0px;
        margin-right: 10px;
      }
    }
    #postalCode {
      width: 100%;
      @include media-breakpoint-up(md) {
        width: 25%;
      }
    }
    #email {
      width: 100%;
      margin-right: 10px;
      @include media-breakpoint-up(md) {
        width: 56%;
      }
    }
    .receipt {
      display: none;
      @include media-breakpoint-up(md) {
        display: block;
      }
    }
    #mailingListOptInCheckbox {
      margin: 2px 4px 10px 0;
    }
    .stripe-elements {
      width: 100%;
    }
    .card-number,
    .exp-date,
    .cvc {
      border-color: $green;
      width: 100%;
      padding: 12px 12px 5px 12px;
    }
    .card-number {
      @include media-breakpoint-up(md) {
        width: 75%;
        margin-right: 10px;
      }
    }
    .exp-date,
    .cvc {
      @include media-breakpoint-up(md) {
        width: calc(50% - 5px);
      }
    }
    .exp-date {
      margin-bottom: 10px;
      @include media-breakpoint-up(md) {
        margin-right: 10px;
        margin-bottom: 0;
      }
    }
    img.credit-cards {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
        height: 29px;
        vertical-align: middle;
      }
    }
    #expMonth {
      width: 38%;
      @include media-breakpoint-up(md) {
        width: 33%;
      }
    }
    #perk-fields {
      display: block;
      margin: 10px 0;
      text-align: left;
      #selected-perk-fields-label {
        margin: 10px 0;
      }
      .fit {
        margin: 0 10px;
      }
    }
    #captcha {
      width: 82px;
      margin-bottom: 20px;
      margin-left: 10px;
    }
    .donate-submit-area {
      color: grey;
      font-size: 22px;
      font-weight: bold;
      padding: 20px 0;
      line-height: 26px;
    }
    #donate-submit-button {
      button {
        background-color: $donate-main-color;
        color: $black;
        text-transform: uppercase;
        width: 300px;
        border-radius: 5px;
        border: 1px solid grey;
        font-size: 20px;
        padding: 10px;
      }
    }
  }
  #donate-comments-wrapper {
    text-align: left;
    textarea {
      width: 100%;
    }
  }
  .error-container {
    display: block;
    width: 50%;
    min-height: 100px;
    margin-right: auto;
    margin-bottom: 5%;
    margin-left: auto;
    padding: 2% 5%;
    border: 1px solid #aeaeae;
    box-shadow: 11px 11px 0 0 #e70000;

    .title {
      margin-bottom: 3%;
      color: #e70000;
      font-size: 34px;
      line-height: 40px;
      text-align: center;
    }
  }

  #giving-form {
    margin-top: 50px;
  }

  #loading-dialog {
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $gray-700;
      z-index: 99;
    }

    .dialog-area {
      display: flex;
      justify-content: center;
      position: fixed;
      top: 20vh;
      width: 100%;
      z-index: 100;
    }

    .dialog {
      background-color: $white;
      min-height: 150px;
      text-align: center;
      width: 300px;
    }

    .message {
      margin: 20px;
    }

    .dots {
      display: flex;
      margin: 20px 20px 0 20px;
      justify-content: center;
    }

    .dot {
      display: block;
      width: 15px;
      height: 15px;
      margin-right: 0.5%;
      margin-left: 0.5%;
      border-radius: 20px;
      background-color: $donate-main-color;
      opacity: 0.3;
    }

    @mixin moving-dot($delay) {
      animation-name: moving-dot;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      animation-delay: $delay;
    }

    .dot:nth-child(0n+1) {
      @include moving-dot(0);
    }

    .dot:nth-child(0n+2) {
      @include moving-dot(0.5s);
    }

    .dot:nth-child(0n+3) {
      @include moving-dot(1s);
    }

    .dot:nth-child(0n+4) {
      @include moving-dot(1.5s);
    }

    .dot:nth-child(0n+5) {
      @include moving-dot(2s);
    }

    @keyframes moving-dot {
      from {
        opacity: 0.3;
      }

      20% {
        opacity: 1;
      }

      to {
        opacity: 0.3;
      }
    }
  }
}

#campaign-totals-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .characters {
    color: $gray-200;
    display: flex;
    justify-content: center;
    line-height: normal;
    margin: 10px 30px;

    .character {
      position: relative;
      font-size: 130px;
      font-weight: 700;
      font-family: "League Gothic";

      .cover {
        background: $donate-main-color;
        bottom: 0;
        left: 0;
        position: absolute;
        visibility: hidden;
        right: 0;
        top: 0;
        z-index: 1;
      }

      &.covered .cover {
        visibility: visible;
      }

      &.resolved {
        color: $donate-main-color;
      }
    }
  }
  .label {
    font-size: 18px;
    text-align: center;
    font-family: monospace;
    color: $black;
  }

  .no-close .ui-dialog-titlebar-close {
    display: none;
  }
}

.donate-page {
  padding: 40px 20px;
  width: 95%;
  margin: 0 auto;
  @include media-breakpoint-up(lg) {
    max-width: 940px
  }
  .thank-you {
    text-align: center;
    hr {
      border-top: 1px solid $green;
      max-width: 106px;
      margin: 40px auto;
    }
    .btn {
      text-transform: uppercase;
    }
  }
}

.donor-faq {
  li {
    font-size: 30px;
  }
}
