@font-face {
  font-family: Corben; /* by imagex-fonts.com */
  src: url('./fonts/Corben/Corben.ttf');
}

@font-face {
    font-family: CorbenBold;
    src: url("./fonts/Corben/Corben-Bold.ttf");
}

@font-face {
  font-family: TerminalGrotesque; /* https://open-foundry.com/fonts/terminal_grotesque_open */
  src: url('./fonts/grotesque/terminal-grotesque_open.otf');
}

/* Don't move down content w banner. Navbar isn't fixed. */
.page {
  padding-top: 0 !important; }

.bg-donate {
  background-color: #D4DFDC;
}

.banner {
  background-color: #D4DFDC;
  z-index: 100000000000000 !important;
  overflow-x: hidden;
}

.footer__close {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 32px;
  height: 32px;
  z-index: 1;
  font-weight: bolder;
  visibility: inherit;
  background-color: #FAF5DF;
  border-radius: 6px;
  color: #05161C !important;
  font-size: 1.3em;
  text-align: center;
  background-image: url(./images/x.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer__close:hover {
  background-color: #EFB149;
}

.banner-big-text {
  color: #002140;
  font-family: "CorbenBold";
  font-size: 40px;
  margin: 0;
  width: 80%;
}

.banner-small-text {
  color: #002140;
  font-family: "Corben";
  font-size: 22px;
  margin: 10px 0;
  width: 70%;
}

@include media-breakpoint-down(sm) {
  .banner-small-text {
    font-size: 20px;
  }
  .banner-big-text {
    font-size: 30px;
  }
}

.banner-img-style {
  width: auto !important;
  max-width: 110%;
  position: relative;
  left: -5%; // Off-center isn't good
}

@media (min-width: 768px) and (max-width: 1099px) { //Why do you force me to do it manually CSS/Bootstrap?
	.banner-img-style {
		position: absolute;
		bottom: 0;
		left: -50% !important;
		max-width: 170% !important;
	}
}

@media (min-width: 1100px) and (max-width: 1255px) {
	.banner-img-style {
		bottom: 0;
		left: -30%;
		max-width: 140%;
	}
}

@media (min-width: 1256px) and (max-width: 1400px) {
	.banner-img-style {
		left: -30%;
		max-width: 130%
	}
}

.rectangle {
  background-color: #EFB149;
  color: #002140;
  padding: 15.5px 24px;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  border-radius: 100px;
  background-size: cover;
  font-weight: bold;
}

.rectangle:hover {
  background-color: #E98346;
  text-decoration: none;
}

.match {
  font-size: 18px;
  color: #9D4AE8;
  background: #000;
  font-family: Courier New, monospace;
  min-height: 360px;
  width: 100%;
}

.match:hover {
  color: #00FF00;
}

.banner__containter {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
}

.eoy-banner {
  padding: 4.25rem 2rem 0 !important;
}

.eoy-sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

#trigger {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#trigger:checked ~ #banner-header, .banner__containter > #trigger:checked, #trigger:checked + label {
  display: none;
  visibility: hidden;
}
@include media-breakpoint-down(xs) {
  .banner-big-text {
    width: 100%;
  }
  .banner-small-text {
    width: 100%;
  }

  .banner__containter {
      background-position: top 90% right -20%;
      background-size: 70%;
  }
}
